body{
  margin: 0%;
  padding: 0%;
 box-sizing: border-box;

  
}
.layout{
  margin: 0%;
  padding: 0%;
 background-image: url(/a.jpeg);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 box-sizing: border-box;
}